* {
    box-sizing: border-box;
}

.container {
    width: 280px;
    height: 460px;
    margin: 0 auto;
}
.content{
    background-color: #F6F8FA;
    width:280px ;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    width: 42px;
}

.black-circel {
    background-color: #010101;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;

}

.caption {
    margin: 5px;
}

.caption p {
    margin: 3px;
    font-size: 18px;
    font-family: sans-serif;
}

.bold {
    font-weight: bold;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 10px;
    width: 230px;
}